.header__option {
  /* width: 70%; */
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.header > img {
  width: 250px;
}
@media screen and (min-width: 500px) {
  .header > img {
    width: 550px;
  }
}
