.headerOption {
  border-left: 1px solid gray;
  padding: auto;
  cursor: pointer;
  align-content: center;
  align-items: center;
}

.headerOption__text {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
}

.headerOption:hover {
  color: #ff8a00;
}

@media screen and (min-width: 500px) {
  .headerOption__text {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 20px;
  }
}
