.league {
}
.league__title {
  display: flex;
  background-color: #333333;
  color: #cccccc;
}
.league__name {
  flex: 1;
  font-size: 10px;
}

.league__date {
  font-size: 10px;
}
.league__matches {
  /* display: flex; */
  background-color: white;
  color: #000000;
  font-size: 10px;
}
.league__time {
  color: #000000;
  font-size: 5px;
}
.league__score {
  color: blue;
  /* align-items: center; */
  font-size: 5px;
}
.league__home,
.league__away {
  font-size: 5px;
}
